<%- include('../partials/header.ejs'); %>
    <!-- header-end -->

    <!-- bradcam_area_start  -->
    <!-- <div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About US</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- bradcam_area_end  -->

    
	<!-- Start mission, vision and goal Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Mission & Vision</h3>
			<p class="sample-text">
				<b> Mission </b> : To prepare and inspire new generation of global youth for constructive engagement and empowerment for sustainable future in the service of humanity through collaborative partnership, cultural exchange and volunteerism in a peaceful environment.
            </p>
			<p class="sample-text">
				<b> Vision </b> : To prepare and inspire new generation of global youth for constructive engagement and empowerment for sustainable future in the service of humanity through collaborative partnership, cultural exchange and volunteerism in a peaceful environment.
            </p> 

            <!--goals section-->
            <hr>
            <br>
            <h3 class="text-heading">Goal</h3>   
            <p class="sample-text">
				To Inspire new generation of global youth for constructive engagement and empowerment for sustainable development.
            </p>        
            <!--objectives section-->
            <hr>
            <br>
            <h3 class="text-heading">Objectives</h3>   
            <div class="row">
                <div class="col-md-12 mt-sm-30">                   
                   
                        <ul class="unordered-list" style="list-style-type: decimal;">
                            <li>To implement social welfare and health initiatives that lead to improved health and wellbeing of the vulnerable groups</li>
                            <li>To empower youths to develop as individuals and enjoy new challenges through contribution to community development.</li>                           
                            <li>To support young people to work together to create sustainable change both in their lives and within the community.</li>
                            <li>To generate in young people a sense of responsibility and ownership for the actions they undertake and to develop their citizenship and involvement in their communities.</li>
                            <li>To afford the opportunity for personal development through the provision of programs that enhance life skills, self-image and vocational motivation.</li>
                            <li>To promote an inclusive environment encouraging participation from all ethnic groups and fostering sustainable peace in the community.</li>
                            <li>To provide facilities and programs to meet the needs of our future generations as well as bridging the gap and maintaining the balance of Intergenerational Equity.</li>
                            <li>To create a collaborative action among young people and advocate for climate change to save our mother earth.	.</li>
                        </ul>
                    
                </div>
            </div>      
            <!--core values section-->
            <hr>
            <br>
            <h3 class="text-heading">Core values</h3>   
            <div class="row">
                <div class="col-md-12 mt-sm-30">                   
                   
                        <ul class="unordered-list" style="list-style-type: decimal;">
                            <li>Accountability</li>
                            <li>Transparency.</li>                           
                            <li>Integrity.</li>
                            <li>Partnership</li>
                            <li>Equal Opportunity.</li>
                            <li>Child Properity</li>
                            <li>TeamWork.</li>
                            <li>Non-gender based descrimination	.</li>
                        </ul>
                    
                </div>
            </div>      
            <!-- Strategies  section-->
            <hr>
            <br>
            <h3 class="text-heading">Strategies</h3>   
            <div class="row">
                <div class="col-md-12 mt-sm-30">                   
                   
                        <ul class="unordered-list" style="list-style-type: decimal;">
                            <li>Initiating and raising public awareness programs to the existing challenges against the development of children, women and youth rights.</li>
                            <li>Advocacy and lobbying for youth empowerment activities. .</li>                           
                            <li>	Effective resource mobilizations and fund raising strategy..</li>
                            <li>	Self-supporting and voluntary based development programs.</li>
                            <li>	Skill development and training programs.</li>
                            <li>	Outreach programs and involvement of larger number of stakeholders.</li>
                            <li>	Coordination and networking of youth for sustainable impact.</li>                           
                        </ul>
                    
                </div>
            </div>      
		</div>
	</section>

    <hr>

	<!-- End  mission, vision and goal Area -->

<%- include('../partials/footer.ejs'); %>