<%- include('../partials/header.ejs'); %>
<script src="/node_modules/readmore-js/readmore.min.js"></script>

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="slider_text ">
                            <span>Welcome to.</span>
                            <h3> Youth hands for 
                               Development Organization</h3>
                            <p>In youth we learn, in age we understand <br>
                               Together we empower</p>
                            <a href="#whoarewe" class="boxed-btn3">Who are we
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->


    <!--who are we-->
    <div class="whole-wrap" id="whoarewe">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3 class="mb-30">Who are we</h3>
				<div class="row">
					<div class="col-md-5">
						<img src="/img/youths/ymembers.jpg" alt="who are we" class="img-fluid">
					</div>
					<div class="col-md-7 mt-sm-20">
						<p> <b> Youth Hands for Development Organization (YHDO) </b> is a nonprofit youth-led  founded Organization and registered by South Sudan Relief and Rehabilitation Commission (RRC) to operate in South Sudan. It’s primary focus is on the problem being faced by the young people in their daily struggle to obtain basic needs and dignified life free of poverty, leading youth in the community to quest for socioeconomic support through Peace Building, Education, Health and Well-being, Empowerment, Child protection and Climate Action. Our major areas of concern focusing  mainly on peace building among youth and the communities through knowledge exposures, 
                            technical skills development and providing access to facilities that enhance women and children access to basic needs</p>
					</div>
				</div>
			</div>
        </div>
    </div>



    <!--end of who we are div-->

    <!--our programs begin-->
    
    <div class="popular_causes_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Our Programs</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="causes_active owl-carousel owl-theme" id="owl-carousel1">

                        <!--youth peace forum-->
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="/img/youths/peacebuilding.jpg" alt="peace building">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                               
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <!-- <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span> -->
                                </div>
                                <h4>Youth peace forum</h4>
                                <p>The youth peace forums mainly targets the capacity of young people in bridging the gaps created by the war in south Sudan and further identify the importance of youth engagement in peace Building. 
                                    Our peace building programmes aligned to the Sustainable Development Goals 16. Peace, Justice and strong Institutions.</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div>
                        <!--youth peace forum end-->

                        <!--community peace mitigation forums-->
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="/img/youths/communitypeace2.jpg" alt="community peace">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                               
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <!-- <span>Place : </span>
                                    <span>Goal:  </span> -->
                                </div>
                                <h4>Community Peace mitigation forums </h4>
                                <p>In peace building our community peace mitigation forums targets peace in the community and builds peace among neighbors</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div>
                        <!--communnity peace mitigation forums end-->

                        <!--peace building-->
                        <!-- <div class="single_cause">
                            <div class="thumb">
                                <img src="/img/causes/3.png" alt="">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                             
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Peace building</h4>
                                <p>The youth peace forums mainly targets the capacity of young people in bridging the gaps created by the war in south Sudan and further identify the importance of youth engagement in peace Building. 
                                    Our peace building programmes aligned to the Sustainable Development Goals 16. Peace, Justice and strong Institutions</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div> -->
                        <!--peace building ends-->

                         <!--child protection section-->
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="/img/youths/childprotection2.jpg" alt="child protection" style="height:238px; width: 356px;">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                             
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <!-- <span>Area: Sudan</span>
                                    <span>Goal: Kids rights to play program  </span> -->
                                </div>
                                <h4>Child Protection</h4>
                                <p>This program targets the street children, non-school going children, orphans and children from unprivileged back grounds, here we gather them and have time to play share the little we have and even story 
                                    telling mean while we also collect their views towards the situation they area in. </p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div>
                        <!--child protection end-->
                        
                         <!--Education section-->
                         <div class="single_cause">
                            <div class="thumb">
                                <img src="/img/youths/ychildrenreading3.jpg" alt="education"  style="height:238px; width: 356px;">
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                            
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <!-- <span>Area: Sudan</span> -->
                                     <span>Goal: Kids rights to play program  </span> 
                                </div>
                                <h4>Kids art theraphy</h4>
                                <p>Our kids Arts therapy is a creative arts drawing, storytelling and a basic learning Programme that helps to equip non-school going children with basic knowledge of knowing the Alphabets. 

                                </p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div>
                        </div>
                        <!--Education end-->

                                  <!--Empowerment section-->
                                  <div class="single_cause">
                                    <div class="thumb">
                                        <img src="/img/youths/empowerment.jpg" alt="empowerment">
                                    </div>
                                    <div class="causes_content">
                                        <div class="custom_progress_bar">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                                   
                                                </div>
                                              </div>
                                        </div>
                                        <div class="balance d-flex justify-content-between align-items-center">
                                            <!-- <span>Area: Sudan</span>
                                            <span>Goal: Graduate mentorship program (understanding the job market) </span> -->
                                        </div>
                                        <h4>Empowerment</h4>
                                        <p>The Graduate mentorship program is a series of trainings organized for the university Graduates mentoring them on how to understand the job market. Secondly we also cover mentorship on business development to bridge the gap of unemployment.
                                            Our thematic areas addresses most of the Sustainable Development Goals (Goal. 3, 13, 4, and 16) that area of immediate concern to most south Sudanese people.
                                                   
                                        </p>
                                        <a class="read_more" href="cause_details.html">Read More</a>
                                    </div>
                                </div>
                                <!--Empowerment end-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--our programs end-->


    <!--image gallery-->
        <div class="container">
            <div class="section-top-border">
				<h3>our Gallery</h3>
				<div class="row gallery-item">
					<div class="col-md-4">
						<a href="img/youths/childprotection.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/youths/childprotection.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="img/youths/children.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/youths/children.jpeg"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="img/youths/childrenread.jpeg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/youths/childrenread.jpeg);"></div>
						</a>
					</div>

					 <div class="col-md-6">
						<a href="img/youths/education.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/youths/education.jpg);"></div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="img/youths/tailor.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/youths/tailor.jpeg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="img/youths/ymembers.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/youths/ymembers.jpg);"></div>
						</a>
					</div>

					<div class="col-md-4">
						<a href="img/youths/ychildrenreading3" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/youths/ychildrenreading3.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="img/youths/communitypeace2.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/youths/communitypeace2.jpg);"></div>
						</a>
					</div> -->
				</div>
			</div>
        </div>
    <!--image gallery-->

   
    <!--our partners start-->
    <div class="popular_causes_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Our Partners</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="causes_active owl-carousel">

                        <div class="single_cause">
                            <div class="thumb">
                                <img src="/img/youths/partners/IPY.jpeg" alt="oxfam">
                            </div>
                            <!-- <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                             
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Help us to Send Food</h4>
                                <p>The passage is attributed to an 
                                    unknown typesetter in the century 
                                    who is thought</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div> -->
                        </div>

                        <div class="single_cause">
                            <div class="thumb">
                                <img src="/img/youths/partners/globalpeace.jpeg" alt="savethechildren">
                            </div>
                            <!-- <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                             
                                        </div>
                                      </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Clothes For Everyone</h4>
                                <p>The passage is attributed to an 
                                    unknown typesetter in the century 
                                    who is thought</p>
                                <a class="read_more" href="cause_details.html">Read More</a>
                            </div> -->
                        </div>

                        <div class="single_cause">
                            <div class="thumb">
                                <img src="/img/youths/partners/worldbeyondwar.jpeg" alt="UN">
                            </div>                        
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--our partners end-->

    <!-- committee_start  -->
    <div class="our_volunteer_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Management</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!--first member-->
                <div class="col-lg-4 col-md-6">
                    <div class="single_volenteer">
                        <div class="volenteer_thumb">
                            <img src="/img/youths/members/Boro.jpeg"  style="height: 290px;" alt="CEO">
                        </div>
                        <div class="voolenteer_info d-flex align-items-end">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/jurto.taban"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                   
                                </ul>
                            </div>
                            <div class="info_inner">
                                <h4>Bosco Boro James</h4>
                                <p>CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--second member-->
                <div class="col-lg-4 col-md-6">
                    <div class="single_volenteer">
                        <div class="volenteer_thumb">
                            <img src="/img/youths/members/Emmanuel2.jpeg"  alt="Secretary">
                        </div>
                        <div class="voolenteer_info d-flex align-items-end">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/bosco.boro.7" > <i class="fa fa-facebook"></i> </a>
                                    </li>
                                  
                                    
                                </ul>
                            </div>
                            <div class="info_inner">
                                <h4>Emmanuel Lobijo Justo</h4>
                                <p>Secretary</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Third member-->
                <div class="col-lg-4 col-md-6">
                    <div class="single_volenteer">
                        <div class="volenteer_thumb">
                            <img src="/img/youths/members/Opono.jpeg" style="height: 290px;"  alt="Secretary">
                        </div>
                        <div class="voolenteer_info d-flex align-items-end">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="#" > <i class="fa fa-facebook"></i> </a>
                                    </li>                                  
                                    
                                </ul>
                            </div>
                            <div class="info_inner">
                                <h4> Jore Josephine Openy</h4>
                                <p>Treasurer</p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- committee_end  -->


 




 <%- include('../partials/footer.ejs'); %>